@charset "UTF-8";

.flexbox-container {
    background: rgb(0, 249, 141);
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 900px;
    /*flex-wrap: wrap;faz com que as divs fiquem responsivas*/
    
}

.flexbox-item {
    width: 200px;
    margin: 20px;
    border: 4px solid rgb(0, 0, 0);
    background: rgb(93, 165, 210);
}

.item-1 {
    min-height: 100px;
}

.item-2 {
    min-height: 200px;
}

.item-3 {
    min-height: 300px;
}